<!-- start custom head snippets, customize with your own _includes/head-custom.html file -->

<!-- Setup Google Analytics -->
{% include head-custom-google-analytics.html %}

<!-- You can set your favicon here -->
<!-- link rel="shortcut icon" type="image/png" href="{{ './figs/icon/icon.png' | relative_url }}" -->

<nav>
    <ul>
        <li><a href="{{ '/' | relative_url }}">Home</a></li>
        <li><a href="{{ '../docs/overview.md' | relative_url }}">Overview</a></li>
        <li><a href="{{ '../docs/challenge.md' | relative_url }}">Challenge</a></li>
        <li><a href="{{ '../docs/details-of-the-challenge.md' | relative_url }}">Details</a></li>
        <li><a href="{{ '../docs/important-dates.md' | relative_url }}">Important Dates</a></li>
         <li><a href="{{ '../docs/organizing-committee.md' | relative_url }}">Organizing Committee</a></li>
    </ul>
</nav>

<!-- end custom head snippets -->
